@model Home4Us.Models.PropertyView
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div id="Container-head">
    <div class="main">
        <nav class="navbar navbar-inverse no-margin">
            <div class="container-fluid">
                <div class="navbar-header">
                    <h2>Home4Us</h2>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#4Rent">4RENT</a></li>
                    <li><a href="#4Sell">4SELL</a></li>
                    <li><a href="#Log Out"><span class="glyphicon glyphicon-log-out"></span> Log Out</a></li>
                </ul>
            </div>
        </nav>
    </div>
    <div id="myCarousel" class="carousel" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="/Resources/banner1.png" alt="Banner1">
            </div>

            <div class="item">
                <img src="/Resources/banner2.jpg" alt="Banner2">
            </div>

            <div class="item">
                <img src="/Resources/banner3.jpg" alt="Banner3">
            </div>
        </div>

        <!--Left and right control-->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>


    <div id="Container-body">
        <h1>Recent Request</h1>
        <table>
            <tr>
                <td><h2 class="glyphicon glyphicon-chevron-down">Request ID</h2></td>
                <td><h2 class="glyphicon glyphicon-chevron-down">Client details</h2></td>
                <td><h2 class="glyphicon glyphicon-chevron-down">Status</h2></td>
            </tr>

            @{
                Home4Us_Models_BL.BSL.UsersService user = new Home4Us_Models_BL.BSL.UsersService();
                List<Home4Us_Models.Users> list_prop = (List<Home4Us_Models.Users>)user.GetUsers();

            }
            @for (int item = 0; item < list_prop.Count; item++)
            {
                <tr>
                    <td></td>
                    <td>@list_prop[item].Email @list_prop[item].FirstName</td>
                    <td></td>
                </tr>
            }


        </table>
    </div>
    <div id="Container-manage">
        <h1 class="glyphicon glyphicon-briefcase"> Manage your properties</h1>
        <div id="table-manage">
            <div class="adminCenter">
                @Html.LabelFor(n => n.Property.Name)
                @Html.TextBoxFor(n => n.Property.Name)
                @*@Html.ValidationMessageFor(m => m.Name)*@
                </div>
            <div>
                <div class="adminLeft">
                    @Html.LabelFor(n => n.Address.City)
                    @Html.TextBoxFor(n => n.Address.City)
                    @Html.ValidationMessageFor(m => m.Address.City)

                    @Html.LabelFor(n => n.Address.Block)
                    @Html.TextBoxFor(n => n.Address.Block)
                    @Html.ValidationMessageFor(m => m.Address.Block)

                    @Html.LabelFor(p => p.Details.Price)
                    @Html.TextBoxFor(p => p.Details.Price)
                    @Html.ValidationMessageFor(m => m.Details.Price)
                </div>
                <div class="adminRight">
                    @Html.LabelFor(n => n.Address.Street)
                    @Html.TextBoxFor(n => n.Address.Street)
                    @Html.ValidationMessageFor(m => m.Address.Street)

                    @Html.LabelFor(n => n.Address.Apartment)
                    @Html.TextBoxFor(n => n.Address.Apartment)
                    @Html.ValidationMessageFor(m => m.Address.Apartment)

                    @Html.LabelFor(p => p.Details.SpaceM2)
                    @Html.TextBoxFor(p => p.Details.SpaceM2, new { @placeholder="m2" })
                    @Html.ValidationMessageFor(m => m.Details.SpaceM2)
                </div>
            </div>
            <div class="adminLeft">

                <div class="adminLeft">
                        
                    <div class="editor">
                        @Html.LabelFor(n => n.Details.RoomsId.Bathrooms) @Html.TextBoxFor(n => n.Details.RoomsId.Bathrooms)
                        @Html.ValidationMessageFor(m => m.Details.RoomsId.Bathrooms)
                    </div>
                    <div class="editor">
                        @Html.LabelFor(n => n.Details.RoomsId.Bedrooms) @Html.TextBoxFor(n => n.Details.RoomsId.Bedrooms)
                        @Html.ValidationMessageFor(m => m.Details.RoomsId.Bathrooms)
                    </div>
                </div>
                <div class="adminRight">

                    <div class="editor">
                        @Html.LabelFor(n => n.Details.RoomsId.Balconys) @Html.TextBoxFor(n => n.Details.RoomsId.Balconys)
                        @Html.ValidationMessageFor(m => m.Details.RoomsId.Balconys)
                    </div>
                    <div class="editor">
                        @Html.LabelFor(n => n.Details.RoomsId.Kitchens) @Html.TextBoxFor(n => n.Details.RoomsId.Kitchens)
                        @Html.ValidationMessageFor(m => m.Details.RoomsId.Kitchens)
                    </div>
                </div>
            </div>

            <div class="adminLeft">
                <div class="adminLeft">

                    <div class="editor">
                        @Html.LabelFor(n => n.Details.RoomsId.Livingrooms) @Html.TextBoxFor(n => n.Details.RoomsId.Livingrooms)
                        @Html.ValidationMessageFor(m => m.Details.RoomsId.Livingrooms)
                    </div>
                    <div class="editor">
                        @Html.LabelFor(n => n.Details.RoomsId.Storage) @Html.TextBoxFor(n => n.Details.RoomsId.Storage)
                        @Html.ValidationMessageFor(m => m.Details.RoomsId.Storage)
                    </div>
                </div>
            </div>

                <h2>Other property features</h2>

            <div class="adminLeft">
                  <div class="adminLeft">
                      <input type="checkbox" class="checkbox" name="quux[1]" checked /><label id="label-space">Balcony</label>
                      <input type="checkbox" class="checkbox" name="quux[1]" checked /><label id="label-space">Metro</label>
                  </div>
                <div class="adminRight">
                    <input type="checkbox" class="checkbox" name="quux[1]" checked /><label id="label-space">Drier</label>
                    <input type="checkbox" class="checkbox" name="quux[1]" checked /><label id="label-space">Garage</label>
                    <input type="checkbox" class="checkbox" name="quux[1]" unchecked /><label id="label-space">TV</label>
                </div>
            </div>
            <div class="adminRight">
                <div class="adminLeft">
                    <input type="checkbox" class="checkbox" name="quux[1]" unchecked><label id="label-space">Bus</label>
                    <input type="checkbox" class="checkbox" name="quux[1]" checked><label id="label-space">Quiet area</label>
                    <input type="checkbox" class="checkbox" name="quux[1]" checked><label id="label-space">Internet</label>
                </div>
                <div class="adminRight">
                    <input type="checkbox" class="checkbox" name="quux[1]" checked><label id="label-space">Storage room</label>
                    <input type="checkbox" class="checkbox" name="quux[1]" checked><label id="label-space">Pool</label>
                </div>
            </div>
            <br />
                    <td><button id="btn-uploads" class="glyphicon glyphicon-level-up "></button><label>Uploads photos:</label><a href="#img1">img.jpg</a></td>

                    <td><button id="btn-add" type="submit" class="btn btn-primary">Add</button></td>
        </div>
    </div>

    <div id="Container-footer">
        <div id="bottomBanner" class="col-sm-12">
            <div class="col-sm-4">
                <h3>About Us</h3>
                <h4 id="aboutDescription">
                    An hotel is an establishment that provides
                    lodging paid on a short-term basis.
                    Facilities provided may range from a
                    modest-quality mattress in a small
                    room to large suites with bigger,
                    higher-quality beds, a dresser,
                    a fridge and other kitchen facilities,
                    upholstered chairs, a flatscreen television and en-suite bathrooms.
                </h4>
            </div>

            <div class="col-sm-4">
                <h3>Contact us</h3>
                <h4>Triple Threat Software</h4>
                <h4>128 John Lemon Avenue <br> Cluj-Napoca,Romania</h4>
                <h4>+40263 887 887</h4>
                <a href="#e-mail">ttsoft@gmail.com</a>
            </div>

            <div class="col-sm-4">
                <h3>Other links</h3>
                <a href="#"><h4>Terms &amp; Condition</h4></a>
                <a href="#"><h4>Log Out</h4></a>
                <a href="#"><h4>FAQ's</h4></a>
                <a href="#"><h4>All properties</h4></a>
                <a href="#"><h4>Blog</h4></a>
            </div>

        </div>

        <div id="bottom-bar" class="col-sm-12">
            <div class="col-sm-8">
                <h3>&copyTriple Threat Software, Powered by Fortech</h3>
            </div>
            <div class="col-sm-4">
                <span id="paymentOptions" class="col-sm-8">
                    <h3 class="payment">We accept</h3>
                    <img class="logo payment" src="visa.png" alt="vista">
                    <img class="logo payment" src="css/img/mastercard.png" alt="mastercard">
                </span>
                <span id="goTop" class="col-sm-4">
                    <a href="#Container-head" class="scrollToTop glyphicon glyphicon-chevron-up"></a>
                </span>
            </div>
        </div>
    </div>
</div>